body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #22252f;
}

nav {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #FFF;
    margin: 0 10px;
    text-decoration: none;
}

div {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-color: #F3F6F1;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1, h2, p {
    margin: 0 0 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
